* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #189a46;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

img {
  display: inline-block;
}

button {
  outline: none;
  background-color: unset;
  border: 1px solid #000;
}

body.theme-light {
  color: #010101;
  background-color: #fff;
}

body.theme-dark {
  color: #fff;
  background-color: #010101;
}

/* header */

header {
 box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  z-index: 99;
  position: fixed;
  top: 36px;
  left: 0;
  right: 0;
}

.theme-light header {
  background-color: #fff;
}

.theme-dark header {
    background-color: #010101;
  }

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 90px;
  transition: height 0.3s linear;
}

.header.active {
    height: 80px
}

/* logo */

.logo__text {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

/* navbar */
.navbar,
.navbar__list {
  display: flex;
}

.navbar__item ~ .navbar__item {
  margin-left: 24px;
}

.navbar__link {
  position: relative;
}

.navbar__link.active {
  color: var(--primary-color);
}

.navbar__link::before {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  height: 1px;
  width: 0;
  background-color: var(--primary-color);
  transition: width 0.3s linear;
}

.navbar__link:hover {
  color: var(--primary-color);
}

.navbar__link:hover::before {
  width: 100%;
}

.navbar__link--down {
  border: none;
}

.navbar__link:hover .navbar__link--down {
  color: var(--primary-color);
}

.theme__btn {
  border: none;
  margin-left: 32px;
  font-size: 1.4rem;
}

.theme-light .theme__btn {
  color: #010101;
}

.theme-dark .theme__btn {
  color: #fff;
}

/* btn open sidebar */
.sidebar__open--btn {
    width: 45px;
    height: 45px;
    border: none;
    background-color: #00000080;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 71px;
    z-index: 100;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.button__sidebar--list {
    position: fixed;
    right: 0;
    top: 116px;
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
    background-color: #00000090;
    z-index: 80;
}

.button__sidebar--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #ffffff90;
    border: none;
}

.button__sidebar--item-icon {
    font-size: 1.4rem;
    margin-bottom: 3px;
}

.button__sidebar--item:hover {
    color: #ffffff;
}

.button__sidebar--item ~  .button__sidebar--item {
    margin-top: 12px;
}
